<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- Aumentamos el límite a 65536 bytes para el token OAuth de Microsoft -->
				<requestLimits maxQueryString="65536" maxUrl="65536" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>